html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    transition: .3s ease;
}
body{
    margin: 0;
}
b{
    font-weight: 600;
}
a, li{
    all: unset;
    cursor: pointer;
}

/*NAVBAR*/
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#me_index{
    margin-left: 5%;
    transition: .3s ease;
}
#me_index:hover, .web a:hover{
    letter-spacing: 0.5px;
}
.web{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
.web a{
    padding: 2%;
    border-bottom: white solid 2px;
    transition: .3s ease;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 1;
}
.web a:hover, #active, .web:hover #active:hover{
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), black, rgba(255, 255, 255, 0)) 1;
}
.web:hover #active{
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 1;
}
.mob{
    display: none;
}
.mobNav{
    position: absolute;
    width: 100%;
    height: 40vh;
    left: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    z-index: -1;
    padding-top: 200px;
    display: none;
}
.mobNav a{
    width: 30vh;
    padding: 2%;
    border: solid 2px;
    transition: .3s ease;
    background-color: white;
}

/* nav animations */
@keyframes expand{
    from {}
    to {transform: translateY(-200px)}
}
@keyframes close{
    from {transform: translateY(-200px)}
    to {transform: translateY(-700px)}
}
/* nav responsive */
@media screen and (max-width:858px){
    .web{
        justify-content: end;
    }
    .web a{
        display: none;
    }
    .mob{
        display: block;
        margin: 3%;
    }
    #me_index{
        width: 800px;
        font-size: 1.5rem;
    }
    #mobIcon{
        cursor: pointer;
    }
    .mobNav{
        display: flex;
        transform: translateY(-710px);
        color: black;
    }
    .mobNav:hover #mobActive{
        background-color:white;
        color: black;
    }
    .mobNav a:hover, #mobActive, .mobNav:hover #mobActive:hover{
        background-color:black;
        border-color: black;
        color: white;
    }
    #me_index:hover, .web a:hover{
        letter-spacing: 0px;
    }
}
/* NAVBAR */

/*PROJECT HEADING*/
.topContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height:100vh;
    margin: 0;

    /* why does this look so good >:C */
    background-image: url(../00_assets/svgs/abstract.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.show{
    user-select: none;
    font-size: 5rem;
    transition: .3s ease-in-out;
    box-shadow: black 5px 5px;
}
#cShow:hover{
    color: rgb(77,176,244);
    box-shadow: rgb(77,176,244) 5px 5px;
}
#dShow:hover{
    color: rgb(247,75,91);
    box-shadow: rgb(247,75,91) 5px 5px;
}
.show:hover:not(#and){
    background-color: white;
}
#and{
    user-select: none;
    border: none;
    box-shadow: 0px 0px;
    font-weight: 400;
}
/*PROJECT CONTENT*/
.codeContainer{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column-reverse;
}
.title{
    text-align: center;
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 1%;
    transition: .3s ease-in-out;
    position: sticky;
    top: 10vh;
    background-color: black;
    color: white;
    border-color: black;
    margin: 0px;
}
.project{                           /*Per every project*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.codeContainer > .project{
    margin-bottom: 5%;
    background-image: url(../00_assets/svgs/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.designContainer > .project{
    background-image: url(../00_assets/svgs/dg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.projectPreview, .projectInfo{      /*Space between project preview and project content*/
    padding: 1%;
}

.projectPreview img{                /*GIF*/
    width: 40em;
}
.projectInfo{                       /*Project description*/           
    text-align: center;
    min-width: 400px;
    max-width: 1000px;
}
.projectInfo p{
    border: solid 2px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.projectInfo a{                     /*Project links*/
    display: flex;
    padding: 1%;
    justify-content: center;
    transition: .3s ease-in-out;
    background-color: black;
    color: white;
}
.projectLinks a:not(.pjbottom, .pjtop){
    border-bottom: 0px;
    border-color: black;
}
.pjbottom{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.pjtop{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.pjbottom:hover, .projectLinks a:not(.pjbottom, .pjtop):hover{
    background-color: rgb(77,176,244);
    color: black;
}
.pjtop:hover{
    background-color: rgb(247,75,91);
}
#elink{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
    transition: .3s ease;
}
#elink:hover{
    color: red;
}
/* Footer */
footer{
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
    color: black;
    width: 100%;
    border-top: solid 2px;
}
/* bigger */
@media only screen and (min-width:1440px){
    /* GIF */
    .projectPreview img{
        width: 80vh;
    }
    
}
/* mid */
@media only screen and (max-width:1024px) {
    /* content template */
    b:not(#and){
        text-decoration: underline;
    }
    .project{
        display: block;
        justify-content: center; 
        text-align: center;
    }
    .projectInfo{
        width: auto;
        padding-left: 4%;
        padding-right: 4%;
    }
}
/* Smaller */
@media only screen and (max-width:858px){
    /* selection */
    .topContainer{
        flex-direction: column-reverse;
        background-position: center;
    }
    .show:not(#and){
        font-size: 8.5vh;
        background-color:white;
    }
    .title{
        top: 0px;
        position: relative;
    }
    .projectPreview img{
        width: 100%;
    }
    .projectInfo{
        padding-left: 1%;
        padding-right: 1%;
    }
    
}