html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    transition: .3s ease;
}
body{
    margin: 0;
}
b{
    font-weight: 600;
}
a, li{
    all: unset;
    cursor: pointer;
}
::selection {
    color: white;
    background: #C33948;
}

/*NAVBAR*/
nav{
    top:0px;
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    background-color: #C33948;
}
#me_index{
    margin-left: 5%;
    transition: .3s ease;
    filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(7498%) hue-rotate(180deg) brightness(104%) contrast(116%);
}
#me_index:hover, .web a:hover{
    letter-spacing: 0.5px;
}
.web{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
.web a{
    padding: 2%;
    border-bottom: white solid 2px;
    transition: .3s ease;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(211, 198, 198, 0)) 1;
}
.web a:hover, #active, .web:hover #active:hover{
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)) 1;
}
.web:hover #active{
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 1;
}
.mob{
    display: none;
}
.mobNav{
    position: absolute;
    width: 100%;
    height: 40vh;
    left: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    z-index: -1;
    padding-top: 200px;
    display: none;
    background-color: #C33948;
}
.mobNav a{
    width: 30vh;
    padding: 2%;
    border: solid 2px;
    transition: .3s ease;
    background-color: white;
    border-radius: 12px;
}
/* nav animations */
@keyframes expand{
    from {}
    to {transform: translateY(-200px)}
}
@keyframes close{
    from {transform: translateY(-200px)}
    to {transform: translateY(-700px)}
}
/* nav responsive */
@media screen and (max-width:858px){
    .web{
        justify-content: end;
    }
    .web a{
        display: none;
    }
    .mob{
        display: block;
        margin: 3%;
    }
    #me_index{
        width: 80px;
        font-size: 1.5rem;
    }
    #mobIcon{
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(7498%) hue-rotate(180deg) brightness(104%) contrast(116%);
    }
    .mobNav{
        display: flex;
        transform: translateY(-710px);
        color: black;
    }
    .mobNav:hover #mobActive{
        background-color:white;
        color: black;
    }
    .mobNav a:hover, #mobActive, .mobNav:hover #mobActive:hover{
        background-color:black;
        border-color: black;
        color: white;
    }
    #me_index:hover, .web a:hover{
        letter-spacing: 0px;
    }
}
/* NAVBAR */

/* Project Header */
.topContainer,.container, .projectPurpose{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topContainer{
    margin-top: 10vh;
    padding: 5%;
    padding-left: 15vw;
    padding-right: 15vw;
    border-bottom: white solid .5em;
    background-size: cover;
}
.brief{
    text-align: center;
}
.topContainer p {
    line-height: 200%;
}

/* Content */
h1{
    font-weight: 500;
    font-size: 1.5em;
    color: gray;
    letter-spacing: 2px;
}
#projectHead{
    font-size: 4em;
    color: black;
    text-align: center;
}
small{
    color: gray;
}
.container p{
    line-height: 200%;
}
.projectPurpose, .dSect{
    padding: 20vh 15vw;
}
.projectPurpose{
    /* padding-top: 10vh; */    /*progressbar*/
    padding-bottom: 5vh;
}
.solutionSection{
    padding-top: 10vh;
}
.dSect{
    padding-bottom: 5vh;
}
.projectView{
    width: 70vw;
}
.imageWrap{
    position: relative;
    transition: .3s ease;
}
.viewImage{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    background: rgba(255, 255, 255, 0.856);
    color: black;
    visibility: hidden;
    opacity: 0%;
    padding: 5% 0%;
    transition: .3s ease;
    display: flex;
    width: 10%;
    align-self: center;
}
.coverText{
    width: 100%;
    position: absolute;
}
.coverSymb{
    width: 100%;
    text-align: center;
    font-size: 2em;
    animation: go 1.5s infinite;
}
@keyframes go{
    from {}
    50% {transform: translateX(-5px);}
    to {}
}
.imageWrap:hover .viewImage{
    visibility: visible;
    opacity: 100%;
    box-shadow: rgba(0, 0, 0, 0.116) 0px 5px 5px;
}

/* Progress Bar */
.progressBar{
    width: 100%;
    display: flex;
    position: sticky;
    top: 10vh;
    cursor: pointer;
    background-color: white;
    z-index: 100;
}
#pb1,#pb2{
    height: 100%;
    width: 50%;
    text-align: center;
    transition: .3s ease;
    padding: 1.5%;
}
#pb1:hover,#pb2:hover{
    background-color: aliceblue;
}

/* Next */
#nextProject{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    background-color: aliceblue;
}
#nextProject button{
    all: unset;
    background-color: black;
    color:white;
    border-radius: 10px;
    width: 30%;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
}
#nextProject button:hover{
    background-color: #C33948;
}
/* Embedded Links */
#elink{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
    transition: .3s ease;
    color: #C33948;
}
#elink:hover{
    color: red;
}
.disabled{
    pointer-events: none;
}

/* Footer */
footer{
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
    color: black;
    width: 100%;
    border-top: solid 2px;
}

@media screen and (max-width:858px) {
    .projectView{
        width: 100%;
    }
    .viewImage{
        visibility: visible;
        opacity: 100%;
    }
    #nextProject{
        padding: 0px;
        padding-bottom: 7vh;
        flex-direction: column;
        align-items: center;
    }
    #nextProject button{
        width: 70%;
        margin-top: 7vh;
    }
}