* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  }

.navwrap{
    z-index: 50;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.gradient-bar{
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #A6D0E4, #9AD0EC, #99E1E5, #D4A5A5, #F4BFBF, #FFD9C0);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

@keyframes gradbar {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes gradbar {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

/* TEST NOT NAVIGATION */

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
  }

  #headname {
    color: black;
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 40px;
    list-style: none;
  }

  #headname:hover{
    cursor: pointer;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-item a, #headname {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
    cursor: pointer;
    
  }

  .menu-toggle, .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  

  /*MY NAV*/

/* .navbar{
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;

    display:flex;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    text-decoration: none;
    top: -100px;
    transition: top 0.3s;
}

.myname a, .navbar a:not(.skip){
    font-size: 15px;
    cursor: pointer;
    padding: 1.5%;
}

.navbar a:not(.myname){
    padding-left: 7%;
    padding-right: 7%;
}

.navbar a:hover:not(.myname,.skip){
    color: whitesmoke;
    background: black;
} */

.order{
    padding-top: 25%;
    padding-bottom: 30%;
}

.back{
    margin: 0px;
    background-image: url("./assests/backdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.judy{
    text-align: center;
}

.judy > img{
    border: solid 2px black;
    border-radius: 50%;
    animation: opening 2s forwards;
}

@keyframes opening{
    from {opacity: 0%; transform: translateY(50px);}
    to {transform: translateY(-10px);}
}

.zhang{
    text-align: center;
    animation: openwith 2s forwards;
}

@keyframes openwith{
    from {opacity: 0%; transform: translateY(50px);}
    to {transform: translateY(-10px);}
}

.subtitle{
    text-align: center;
    padding-bottom: 5%;
}


.clickables{
    display: flex;
    justify-content: space-evenly;
    /* -webkit-box-reflect: below -35px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.2)); */
}

/* test */

/* .clickimage > a > img{
    border: solid black 2px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
} 

.clickimage > a > img:hover, .clickimage > a > img:focus{ 
    transform: scale(110%);
}

.clicksub > a > h3{
    margin-top: -30px; 
    text-align: center;
    cursor: pointer;
}


.clickimage > a > img:hover ~ .clicksub, .section > a > img:hover ~ .section > a > h3{
    animation: release 1s forwards;
} */

/* test */


.section > a > img{
    border: solid black 2px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.section > a > img:hover, .section > a > img:focus{ 
    transform: scale(110%);
}

.section > a > h3{
    display: none;
    transition: transform 0.2s ease-out;
}

.section:hover > a > h3{
    display: block;
    margin-top: -10px; 
    text-align: center;
    cursor: pointer;
    animation: release 0.5s forwards;
    
    /* transition: transform 0.5s ease-out; */
}

/* .section:hover > a > h3, .section:focus > a > h3{
    transform: translateY(30px);
} */

@keyframes release{
    from {opacity: 0%;}
    to {opacity: 100%; transform: translateY(30px);}
}

a{
    all:unset;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

#last{
    padding-top: 5%;
    padding-bottom: 5%;
}

#last_subtitle{
    padding-bottom: 2%;
}

.link{
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.link:hover, .link:focus{
    transform: scale(120%);
}