/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

li{
    float: left;
    cursor: pointer;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

.option li a:hover{
    background-color: rgba(255, 218, 185, 0.582);
} */


.navbar{
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    display:flex;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    text-decoration: none;
}

/* .navbar a {
    float: right;
} 

.myname{
    margin-left: -20%;
    cursor: pointer;
    border: solid red 2px;
    float: left;
} */

.myname, .navbar a{
    font-size: 15px;
    cursor: pointer;
    /* font-family: 'Courier New', Courier, monospace; */
    padding: 1.5%;
}

.navbar a:not(.myname){
    padding-left: 7%;
    padding-right: 7%;
}

.navbar a:hover:not(.myname){
    background: rgba(185, 241, 255, 0.459);
}

/* .welcome > h1{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(./portfolio/instagram/2piece.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -100px;
    color: white
} */

.order{
    padding-top: 25%;
    padding-bottom: 30%;
}



.back{
    margin: 0px;
    background-image: url("./assests/backdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.judy{
    text-align: center;
}

.judy > img{
    border: solid 2px black;
    border-radius: 50%;
    animation: opening 2s forwards;
}

@keyframes opening{
    from {opacity: 0%; transform: translateY(50px);}
    to {transform: translateY(-10px);}
}

.zhang{
    text-align: center;
    animation: openwith 2s forwards;
}

@keyframes openwith{
    from {opacity: 0%; transform: translateY(50px);}
    to {transform: translateY(-10px);}
}

.subtitle{
    text-align: center;
    padding-bottom: 5%;
}


.clickables{
    display: flex;
    justify-content: space-evenly;
    -webkit-box-reflect: below -35px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.2));
}

/* test */

/* .clickimage > a > img{
    border: solid black 2px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
} */

/* .clickimage > a > img:hover, .clickimage > a > img:focus{ 
    transform: scale(110%);
} */

/* .clicksub > a > h3{
    margin-top: -30px; 
    text-align: center;
    cursor: pointer;
} */

/* 
.clickimage > a > img:hover ~ .clicksub, .section > a > img:hover ~ .section > a > h3{
    animation: release 1s forwards;
} */

/* test */


.section > a > img{
    border: solid black 2px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    

}

.section > a > img:hover, .section > a > img:focus{ 
    transform: scale(110%);
}    

.section > a > h3{
    margin-top: -10px; 
    text-align: center;
    cursor: pointer;
    animation: release 1s forwards;
}

@keyframes release{
    from {opacity: 0%;}
    to {opacity: 100%; transform: translateY(30px);}
}

a{
    all:unset;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

#last{
    padding-top: 5%;
    padding-bottom: 5%;
}

#last_subtitle{
    padding-bottom: 2%;
}

.link{
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.link:hover, .link:focus{
    transform: scale(120%);
}