/* Default */
html{
    scroll-behavior: smooth;
}
a{
    all:unset;
}

* {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    margin: auto;
    overflow-y: auto;
    background-image: url(./assests/backdrop.png);
    background-size: cover;
}

#judyzhang{
    background-color: rgba(25, 25, 48, 0.884);
    transition: background-color .3s ease-in-out;
}

#judyzhang:hover, #judyzhang:hover > .zhang{
    color: rgba(25, 25, 48, 0.884);
    background-color: rgba(255, 255, 255, 0);
}

.judy > img{
    border: rgba(25, 25, 48, 0.884) solid 5px; 
    border-radius: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    opacity: 0%;
}

.zhang{
    text-align: center;
    margin: auto;
    color: whitesmoke;
    transition: color .3s ease-in-out;
}

.order{
    background-color: rgba(25, 25, 48, 0.884);
    transition: background-color 0.3s ease-in-out;
}

.order:hover{
    background-color: rgba(25, 25, 48, 0);
}

.clickables{
    padding: 2%;
    padding-bottom: 100%;
}

.section{
    border-radius: 100px;
}

.section > a > img{
    border: rgba(25, 25, 48, 0.884) solid 5px;
    border-radius: 20%;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.section > a > img:hover{ 
    transform: scale(110%);
}

.section:hover > a > h2{
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transform: translateY(20px);
    color: rgba(25, 25, 48, 0.884);
}

#w,#e,#l,#c{
    opacity: 0%;
}

#first, #second, #third{
    opacity: 0%;
}

#first{
    animation: descend 1.5s forwards 1.3s;
}
#second{
    animation: descend 1.5s forwards 1.6s;
}
#third{
    animation: descend 1.5s forwards 1.9s;
}

@keyframes descend{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
}

/* HEIGHT ISSUE */
@media only screen and (min-width: 721px) and (max-width: 1209px) and (min-height: 700px) and (max-height: 5000px){
    .clickables{
        padding-top: 10%;
    }
}
@media only screen and (min-width: 1210px) and (max-width: 1400px) and (min-height: 700px) and (max-height: 5000px){
    .clickables{
        padding-top: 10%;
    }
}


/* MOBILE SIZE */
@media only screen and (min-width:0px) and (max-width: 375px){

    .back{
        margin: auto;
        overflow-y: auto;
    }

    #judyzhang{
        margin: auto;
        padding-bottom: 180%;
    }

    #judyzhang:hover, #judyzhang:hover > .zhang > .greetings > .welcome, #judyzhang:hover > .zhang > .greetings > h3{
        color: rgba(25, 25, 48, 0.884);
        background-color: rgba(255, 255, 255, 0);
    }

    .judy > img{
        margin-top: -2%;
        text-align: center;
        width: 300px;
        animation: judy 2s forwards 1.2s;
        transform: translateY(650px);
    }

    @keyframes judy {
        from {transform: translateY(700px);}
        to {opacity: 100%;}
    }

    .welcome{
        color: whitesmoke;
        font-size: 30px;
        transition: color .3s ease-in-out;
    }

    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }

    .greetings > h3{
        color: whitesmoke;
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
        transform: translateY(500px);
        transition: color .3s ease-in-out;
    }

    @keyframes introtojudy{
        from {transform: translateY(550px);}
        to {opacity: 100%;}
    }

    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 45%;
        padding-right: 45%;
        margin-bottom: 2%;
    }

    #w{
        margin-bottom: 2%;
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 10%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 10%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }
    
    @keyframes welcome{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }

    .section{
        margin-top: 50%;
    }

    .section > a > img{
        width: 200px;
    }

    .section > a > h2{
        text-align: center;
        cursor: pointer;
        opacity: 1;
        transform: translateY(20px);
        transition: color .3s ease-in-out;
        color: whitesmoke;
    }

    .clickables:hover > .section > a > h2{
        color: rgba(25, 25, 48, 0.884);
    }

    #first{
        margin-top: 50%;
    }
}

/* FROM MOBILE TO SMOL TABLET MAX-WIDTH: 620px */
@media only screen and (min-width: 376px) and (max-width: 620px){

    .back{
        overflow-y: auto;
    }

    #judyzhang{
        padding: 3.5%;                         
    }

    .judy{
        text-align: center;
    }

    .judy > img{
        margin-top: 20%;     
        margin-bottom: 5%;
        transform: translateY(0px);
        width: 300px;
        animation: judy 1.5s forwards 1.2s;
    }

    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }

    .welcome{
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }

    .greetings > h3{
        margin-left: 10%;
        margin-right: 10%;
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }

    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }

    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 45%;
        padding-right: 45%;
    }

    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 10%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 10%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }

    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }

    .clickables{
        text-align: center;
    }

    .section{
        margin-top: 20%;
    }

    .section > a > img{
        width: 250px;
    }

    .section > a > h2{
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        transform: translateY(20px);
        transition: color .3s ease-in-out;
        color: whitesmoke;
    }

    .clickables:hover > .section > a > h2{
        color: rgba(25, 25, 48, 0.884);
    }

    #first{
        margin-top: 20%;
    }
}


/* FROM SMOL TABLET TO BIGGER TABLET MAX-WIDTH: 740px */
@media only screen and (min-width: 621px) and (max-width: 720px){

    .back{
        overflow-y: auto;
    }

    #judyzhang{
        padding: 3.5%;                         
    }

    .judy{
        text-align: center;
    }

    .judy > img{
        margin-top: 20%;         
        margin-bottom: 5%;
        transform: translateY(0px);
        width: 300px;
        animation: judy 1.5s forwards 1.2s;
    }

    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }

    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .welcome > h2{
        margin-left: 3%;
        margin-right: 3%;
    }

    .greetings > h3{
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }

    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }

    .shorten{
        display: flex;
        justify-content: space-evenly;
    }

    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 3%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 3%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }

    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }

    .clickables{
        text-align: center;
    }

    .section{
        margin-top: 20%;
    }

    .section > a > img{
        width: 250px;
    }

    .section > a > h2{
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        transform: translateY(20px);
        transition: color .3s ease-in-out;
        color: whitesmoke;
    }

    .clickables:hover > .section > a > h2{
        color: rgba(25, 25, 48, 0.884);
    }

    #first{
        margin-top: 20%;
    }
}

/* FROM TABLET TO SMOL LAPTOP MAX-WIDTH: 1209px */

@media only screen and (min-width: 721px) and (max-width: 1209px){

    .back{
        overflow-y: hidden;
    }

    #judyzhang{
        padding: 3.5%;                         
    }

    .judy{
        text-align: center;
    }

    .judy > img{
        margin-top: 5%;    
        margin-bottom: 2%;
        transform: translateY(0px);
        width: 250px;
        animation: judy 1.5s forwards 1.2s;
    }

    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }

    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
        margin-left: 25%;
        margin-right: 25%;
    }

    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }

    .greetings > h3{
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }

    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }

    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1%;
        padding-right: 1%;
    }

    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 3%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 3%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }

    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }

    .clickables{
        display: flex;
        justify-content: space-evenly;
    }

    .section{
        margin-top: 1.5%;
    }

    .section > a > img{
        width: 200px;
    }

    .section > a > h2{
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        color: rgba(25, 25, 48, 0.884);
        text-align: center;
    }

    #first{
        margin-top: 1.5%;
    }
}


/* MY LAPTOP SIZE (ON THE SMALLER SCALE) */
/* media only screen and (min-width:1210px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 700px){ */

@media only screen and (min-width:1210px) and (max-width: 1400px){  

    .back{
        overflow-y: hidden;
    }

    #judyzhang{
        
        padding: 3.5%;                         

        display: flex;
        justify-content: space-evenly;
    }

    .judy > img{
        transform: translateY(0px);
        margin-left: 30%;
        text-align: center;
        width: 300px;
        animation: judy 1.5s forwards 1.2s;
    }

    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }

    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
    }

    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }

    .greetings > h3{
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }

    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }

    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1%;
        padding-right: 1%;
    }

    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 5%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 5%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }

    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }

    .clickables{
        display: flex;
        justify-content: space-evenly;
    }

    .section{
        margin-top: 1.5%;
    }

    .section > a > img{
        width: 205px;
    }

    .section > a > h2{
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        color: rgba(25, 25, 48, 0.884);
        text-align: center;
    }

    #first{
        margin-top: 1.5%;
    }
}

/* FROM SMOL LAPTOP TO NORMAL LAPTOP */

@media only screen and (min-width: 1401px) and (max-width: 1600px){
    
    .back{
        overflow-y: hidden;
    }
    
    #judyzhang{
        
        padding: 5%;                         
    
        display: flex;
        justify-content: space-evenly;
    }
        
    .judy > img{
        transform: translateY(0px);
        margin-left: 15%;
        text-align: center;
        width: 350px;
        animation: judy 1.5s forwards 1.2s;
    }
    
    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }
    
    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 40px;
    }
    
    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .greetings > h3{
        font-size: 25px;
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }
    
    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }
    
    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 5%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 5%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }
    
    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }
    
    .clickables{
        display: flex;
        justify-content: space-evenly;
    }
    
    .section{
        margin-top: 1.5%;
    }
    
    .section > a > img{
        width: 250px;
    }
    
    .section > a > h2{
        font-size: 30px;
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        color: rgba(25, 25, 48, 0.884);
        text-align: center;
    }

    #first{
        margin-top: 1.5%;
    }
}

/* FROM NORMAL SIZE GETTING BIGGER */

@media only screen and (min-width: 1601px) and (max-width: 1919px){
    
    .back{
        overflow-y: hidden;
    }
    
    #judyzhang{
        
        padding: 7%;                         
    
        display: flex;
        justify-content: space-evenly;
    }
        
    .judy > img{
        transform: translateY(0px);
        margin-left: 30%;
        text-align: center;
        width: 350px;
        animation: judy 1.5s forwards 1.2s;
    }
    
    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }
    
    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 40px;
    }
    
    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .greetings > h3{
        font-size: 25px;
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }
    
    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }
    
    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 5%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 5%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }
    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }
    
    .clickables{
        display: flex;
        justify-content: space-evenly;
    }
    
    .section{
        margin-top: 1.5%;
    }
    
    .section > a > img{
        width: 250px;
    }
    
    .section > a > h2{
        font-size: 30px;
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        color: rgba(25, 25, 48, 0.884);
        text-align: center;
    }
    
    #first{
        margin-top: 1.5%;
    }
}


/* BIGGER YET NORMALER SCREEN SIZE OF min of 1920 and min of 1080 */

@media only screen and (min-width: 1920px) and (max-width: 2271px){
    
    .back{
        overflow-y: hidden;
    }
    
    #judyzhang{
        
        padding: 5%;                         
    
        display: flex;
        justify-content: space-evenly;
    }
    
    .judy > img{
        transform: translateY(0px);
        margin-left: 30%;
        text-align: center;
        width: 400px;
        animation: judy 1.5s forwards 1.2s;
    }
    
    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }
    
    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 45px;
    }
    
    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .greetings > h3{
        font-size: 25px;
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }
    
    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }
    
    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 5%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 5%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }
    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }

    .clickables{
        display: flex;
        justify-content: space-evenly;
    }
    
    .section{
        margin-top: 1.5%;
    }
    
    .section > a > img{
        width: 300px;
    }
    
    .section > a > h2{
        font-size: 35px;
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        color: rgba(25, 25, 48, 0.884);
        text-align: center;
    }
    
    #first{
        margin-top: 1.5%;
    }
}


@media only screen and (min-width: 2272px) and (max-width: 5000px){
    
    .back{
        overflow-y: hidden;
    }
    
    #judyzhang{
        
        padding: 2%;                         
    
        display: flex;
        justify-content: space-evenly;
    }
    
    .judy > img{
        transform: translateY(0px);
        margin-left: 30%;
        text-align: center;
        width: 490px;
        animation: judy 1.5s forwards 1.2s;
    }
    
    @keyframes judy {
        from {transform: translateY(-40px);}
        to {opacity: 100%;}
    }
    
    .welcome{
        display: flex;
        justify-content: space-evenly;
        font-size: 55px;
    }
    
    .welcome > h2{
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .greetings > h3{
        font-size: 25px;
        transform: translateY(0px);
        opacity: 0%;
        animation: introtojudy 2s forwards 1.2s;    
    }
    
    @keyframes introtojudy{
        from {transform: translateY(20px);}
        to {opacity: 100%;}
    }
    
    .shorten{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    #w{
        animation: welcome 1.5s forwards;
    }
    .shorten > #e{
        margin-right: 5%;
        animation: welcome 1.5s forwards .3s;
    }
    .shorten > #l{
        margin-left: 5%;
        animation: welcome 1.5s forwards .6s;
    }
    #c{
        animation: welcome 1.5s forwards .9s;
    }

    @keyframes welcome{
        from {transform: translateY(-20px);}
        to {opacity: 100%;}
    }
    
    .clickables{
        display: flex;
        justify-content: space-evenly;
    }
    
    .section{
        margin-top: 1.5%;
    }
    
    .section > a > img{
        width: 350px;
    }
    
    .section > a > h2{
        font-size: 35px;
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        color: rgba(25, 25, 48, 0.884);
        text-align: center;
    }
    
    #first{
        margin-top: 1.5%;
    }
}