/*  2 SECTIONS OF BIGGER SIZE (TOP AND BOTTOM) */
/* (min-width: 1920px) and (min-height: 1080px) */

/* min-width: 1401px  and max-width: 1600px*/
/* a{
    all:unset;
}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    overflow-y: hidden;
    margin: 0px;
    background-image: url(./assests/backdrop.png);
    background-size: cover;
}

#judyzhang{
    
    padding: 3.5%;                         
    background-color: rgba(25, 25, 48, 0.884);

    display: flex;
    justify-content: space-evenly;
    transition: background-color .3s ease-in-out;
}

#judyzhang:hover, #judyzhang:hover > .zhang{
    color: rgba(25, 25, 48, 0.884);
    background-color: rgba(255, 255, 255, 0);
}

.judy > img{
    transform: translateY(0px);
    margin-left: 15%;
    border: rgba(25, 25, 48, 0.884) solid 5px;
    border-radius: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
    width: 350px;
    opacity: 0%;
    animation: judy 1.5s forwards 2s;
}

@keyframes judy {
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}

.welcome{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
}

.welcome > h2{
    margin-left: 2%;
    margin-right: 2%;
}

.greetings > h3{
    font-size: 25px;
    transform: translateY(0px);
    opacity: 0%;
    animation: introtojudy 2s forwards 2s;    
}

@keyframes introtojudy{
    from {transform: translateY(20px);}
    to {opacity: 100%;}
}

.shorten{
    display: flex;
    justify-content: space-evenly;
    padding-left: 1%;
    padding-right: 1%;
}

#w{
    opacity: 0%;
    animation: w 1.5s forwards;
}
.shorten > #e{
    margin-right: 5%;
    opacity: 0%;
    animation: e 1.5s forwards .5s;
}
.shorten > #l{
    margin-left: 5%;
    opacity: 0%;
    animation: l 1.5s forwards 1s;
}
#c{
    opacity: 0%;
    animation: c 1.5s forwards 1.5s;
}
@keyframes w{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}
@keyframes e{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}
@keyframes l{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}
@keyframes c{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}


.zhang{
    text-align: center;
    margin: auto;
    color: whitesmoke;
    transition: color .3s ease-in-out;
}

.order{
    background-color: rgba(25, 25, 48, 0.884);
    transition: background-color 0.3s ease-in-out;
}

.order:hover{
    background-color: rgba(25, 25, 48, 0);
}

.clickables{
    padding: 2%;
    padding-bottom: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section{
    margin-top: 1.5%;
    border-radius: 100px;
}

.section > a > img{
    width: 250px;
    border: rgba(25, 25, 48, 0.884) solid 5px;
    border-radius: 20%;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.section > a > img:hover{ 
    transform: scale(110%);
}

.section > a > h2{
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    color: rgba(25, 25, 48, 0.884);
    text-align: center;
}

.section:hover > a > h2{
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transform: translateY(20px);
    color: rgba(25, 25, 48, 0.884);
}

#first{
    margin-top: 1.5%;
    opacity: 0%;
    animation: first 1.5s forwards 2.4s;
}
#second{
    opacity: 0%;
    animation: second 1.5s forwards 3s;
}
#third{
    opacity: 0%;
    animation: third 1.5s forwards 3.4s;
}

@keyframes first{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
}
@keyframes second{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
}
@keyframes third{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
} */


/* min-width: 1601px and max-width: 1919px  */
a{
    all:unset;
}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    overflow-y: hidden;
    margin: 0px;
    background-image: url(./assests/backdrop.png);
    background-size: cover;
}

#judyzhang{
    
    padding: 3.5%;                         
    background-color: rgba(25, 25, 48, 0.884);

    display: flex;
    justify-content: space-evenly;
    transition: background-color .3s ease-in-out;
}

#judyzhang:hover, #judyzhang:hover > .zhang{
    color: rgba(25, 25, 48, 0.884);
    background-color: rgba(255, 255, 255, 0);
}

.judy > img{
    transform: translateY(0px);
    margin-left: 45%;
    border: rgba(25, 25, 48, 0.884) solid 5px;
    border-radius: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
    width: 350px;
    opacity: 0%;
    animation: judy 1.5s forwards 2s;
}

@keyframes judy {
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}

.welcome{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
}

.welcome > h2{
    margin-left: 2%;
    margin-right: 2%;
}

.greetings > h3{
    font-size: 25px;
    transform: translateY(0px);
    opacity: 0%;
    animation: introtojudy 2s forwards 2s;    
}

@keyframes introtojudy{
    from {transform: translateY(20px);}
    to {opacity: 100%;}
}

.shorten{
    display: flex;
    justify-content: space-evenly;
    padding-left: 1%;
    padding-right: 1%;
}

#w{
    opacity: 0%;
    animation: w 1.5s forwards;
}
.shorten > #e{
    margin-right: 5%;
    opacity: 0%;
    animation: e 1.5s forwards .5s;
}
.shorten > #l{
    margin-left: 5%;
    opacity: 0%;
    animation: l 1.5s forwards 1s;
}
#c{
    opacity: 0%;
    animation: c 1.5s forwards 1.5s;
}
@keyframes w{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}
@keyframes e{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}
@keyframes l{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}
@keyframes c{
    from {transform: translateY(-40px);}
    to {opacity: 100%;}
}


.zhang{
    text-align: center;
    margin: auto;
    color: whitesmoke;
    transition: color .3s ease-in-out;
}

.order{
    background-color: rgba(25, 25, 48, 0.884);
    transition: background-color 0.3s ease-in-out;
}

.order:hover{
    background-color: rgba(25, 25, 48, 0);
}

.clickables{
    padding: 2%;
    padding-bottom: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section{
    margin-top: 1.5%;
    border-radius: 100px;
}

.section > a > img{
    width: 250px;
    border: rgba(25, 25, 48, 0.884) solid 5px;
    border-radius: 20%;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.section > a > img:hover{ 
    transform: scale(110%);
}

.section > a > h2{
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    color: rgba(25, 25, 48, 0.884);
    text-align: center;
}

.section:hover > a > h2{
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transform: translateY(20px);
    color: rgba(25, 25, 48, 0.884);
}

#first{
    margin-top: 1.5%;
    opacity: 0%;
    animation: first 1.5s forwards 2.4s;
}
#second{
    opacity: 0%;
    animation: second 1.5s forwards 3s;
}
#third{
    opacity: 0%;
    animation: third 1.5s forwards 3.4s;
}

@keyframes first{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
}
@keyframes second{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
}
@keyframes third{
    from {transform:translateY(40px);}
    to {opacity: 100%;}
}