a{
    all: unset;
}

.navbar{
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;

    display:flex;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    text-decoration: none;
    top: -65px;
    transition: top 0.3s;

    border: solid black 3px;
}

.myname a, .navbar a{
    font-size: 15px;
    cursor: pointer;
    /* font-family: 'Courier New', Courier, monospace; */
    padding: 1.5%;
    
}

.navbar a:not(.myname){
    padding-left: 7%;
    padding-right: 7%;
    /* border-right: solid 3px white;
    border-left: solid 3px white; */
}

.navbar a:hover:not(.myname){
    /* border-color: black; */
    color: white;
    background: black;
    /* background: rgba(255, 199, 185, 0.568); */
}

/* NAVBAR TEST */

body{
    background-image: url(../assests/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    text-align: center;
    /* padding-top: 30%;
    padding-bottom: 40%; 
    background-image: url(./other/temp\ cover.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    border: solid 10px rgb(233, 201, 180);
    border-bottom: solid 10px whitesmoke;
    border-top: solid 10px whitesmoke; 

    padding-top: 2%;
    padding-bottom: 2%;

    color: rgb(0, 0, 0);
    text-shadow: whitesmoke 2px 2px;

    opacity: 0%;
    animation: withartshow 1.5s forwards;
}

@keyframes withartshow {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.title > h1{
    animation: artshow 1.5s forwards;
}

@keyframes artshow{
    from {opacity: 0%;; transform: translateY(20px);}
    to {opacity: 100%;}
}

body{
    margin: 0%;
}

.cover{
    text-align: center;
}

.name{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(248, 221, 203, 0.596); 
}

.artwork{
    background-color: whitesmoke;   
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: solid 10px whitesmoke;
    
}

.artwork:hover{
    background-color:rgba(211, 211, 211, 0.425);
}

.piece{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}

.piece > img, .piece > a > img{
    background-color: whitesmoke;
    border: solid 2px black;
    object-fit: cover;
    width: 100%;
    border-radius: 10%;
    cursor: pointer;
}

.piece > img:hover, .piece > a > img:hover{
    transform: scale(105%);
}

#insta > .name{
    animation: inst 2s forwards 1s;
    opacity: 0%;
}

@keyframes inst{
    from {transform: translateY(50px);}
    to {opacity: 100%;}
}

#insta > .artwork{
    opacity: 0%;
    animation: instag 2s forwards 1.5s;
}

@keyframes instag {
    from {transform: translateY(50px);}
    to {opacity: 100%;}
}

#free > .name{
    animation: fre 2s forwards 2s;
    opacity: 0%;
}

@keyframes fre{
    from {transform: translateY(50px);}
    to {opacity: 100%;}
}

#free > .artwork{
    opacity: 0%;
    animation: freelan 2s forwards 2.5s;
}

@keyframes freelan{
    from {transform: translateY(50px);}
    to {opacity: 100%;}
}

#figma > .name{
    opacity: 0%;
    animation: fig 2s forwards 3s;
}

@keyframes fig{
    from {transform: translateY(50px);}
    to {opacity: 100%;}
}

#figma > .artwork{
    opacity: 0%;
    animation: figmao 2s forwards 3.5s;
}

@keyframes figmao{
    from {transform: translateY(50px);}
    to {opacity: 100%;}
}