/* NAV BEGIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navwrap{
    z-index: 50;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
  }
    
  .navbar{
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;
  
    display:flex;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    text-decoration: none;
    top: -100px;
    transition: top 0.3s;
  }
  
  .myname a, .navbar a:not(.skip){
    font-size: 18px;
    cursor: pointer;
    padding: 1%;
  }
  
  .navbar a:not(.myname){
    padding-left: 7%;
    padding-right: 7%;
    transition: background-color 0.3s ease-out;
  }
  
  .navbar a:hover:not(.myname,.skip){
    color: whitesmoke;
    background-color: black;
  }
  /* NAV END */

/* NAVBAR TEST */

a{
    all: unset;
}

body{
    background-image: url(../assests/backdrop.png);
    background-size: cover;
    background-attachment: fixed;
}

.title{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(0, 0, 0);
    text-shadow: whitesmoke 2px 2px;
    opacity: 0%;
    animation: withartshow 1.5s forwards;
}

@keyframes withartshow {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.title > h1{
    animation: artshow 1s forwards;
}

@keyframes artshow{
    from {opacity: 0%;; transform: translateY(20px);}
    to {opacity: 100%;}
}

body{
    margin: 0%;
}

.cover{
    text-align: center;
}

.name{
    padding-top: 2%;
    padding-bottom: 2%;
}

.artwork{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border-left: none;
    border-right: none; 
    transition: background-color .2s;
}

.piece{
    padding-left: 10px;
    padding-right: 10px;
}

.piece > img, .piece > a > img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .2s, background-color .2s;
}

.piece > img:hover, .piece > a > img:hover{
    transform: scale(105%);
    background-color: rgba(226, 223, 223, 0.63);
}

#insta > .name {
    opacity: 0%;
    animation: upNshow 1.5s forwards .2s;
}

#insta > .artwork{
    opacity: 0%;
    animation: upNshow 1.5s forwards .4s;
}

#free > .name {
    opacity: 0%;
    animation: upNshow 1.5s forwards .6s;
}

#free > .artwork{
    opacity: 0%;
    animation: upNshow 1.5s forwards .8s;
}

#figma > .name{
    opacity: 0%;
    animation: upNshow 1.5s forwards 1s;
}

#figma > .artwork{
    opacity: 0%;
    animation: upNshow 1.5s forwards 1.2s;
}

@keyframes upNshow{
    from {transform: translateY(20px);}
    to {opacity: 100%;}
}


@media only screen and (min-width: 56px) and (max-width: 768px){
    .artwork{
        display: block;
    }

    .piece > img, .piece > a > img{
        width: 60%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .name > h3{
        border-bottom: solid 2px;
        border-image: linear-gradient(90deg, rgba(0,0,0,0), #000000da, rgba(0,0,0,0)) 1;
    }
}