body{
    margin: 0px;
}

a{
    all: unset;
}

.navbar{
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;

    display:flex;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    text-decoration: none;
    top: -100px;
    transition: top 0.3s;

    border: solid black 3px;
}

.myname a, .navbar a{
    font-size: 15px;
    cursor: pointer;
    padding: 1.5%;
    /* font-family: 'Courier New', Courier, monospace; */
}

.navbar a:not(.myname){
    padding-left: 7%;
    padding-right: 7%;
}

.navbar a:hover:not(.myname){
    color: white;
    background: black;
}

.title > h1{
    text-align: center;
}

.project > h2{
    animation: popoff 2s forwards;
}

@keyframes popoff{
    from {opacity:0%; transform: translateY(20px);}
    to {opacity: 100%;}
}

.case{
    display: flex;
    justify-content: space-evenly;
    padding-left: 8%;
    padding-right: 7%;
}

.evidence, .linkslide, .linkgit{
    display: block;
}

.evidence > a > img, .linkslide > a > img, .linkgit > a > img{
    animation: side 2s forwards .5s;
    border-radius: 50px;
    border: solid black 2px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    opacity: 0%;
}

@keyframes side{
    from {transform:translateX(-50px);}
    to {opacity: 100%;}
}

.evidence > a > img:hover, .linkslide > a > img:hover, .linkgit > a > img:hover{
    transform: scale(101%);
}

.show > img{
    margin-top: 2px;
    border-radius: 50px;
    border: solid black 2px;
    animation: gifpreview 2s forwards .5s;
    opacity: 0%;
}

@keyframes gifpreview {
    from {transform:translateX(-50px);}
    to {opacity: 100%;}
}

.explain{
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

.explain > h4{
    opacity: 0%;
    animation: appear 2s forwards 1s;
}

.explain > p{
    padding: 2%;
    border-radius: 50px;
    border: solid black 2px;
    opacity: 0%;
    animation: appearagain 2s forwards 1.5s;
}

@keyframes appear{
    from {transform: translateY(50px);}
    to {opacity:100%;}
}

@keyframes appearagain{
    from {transform: translateY(50px);}
    to {opacity:100%;}
}


/* slide presentation */

/* acting as slide container */
.order{
    max-width: 1100px;
    position: relative;
    margin: auto;
}

/* acting as slides */
.project{
    text-align: center;
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px; 
    color: rgb(253, 166, 166);
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
    user-select: none;
}

.next{
    right:0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color:  rgb(253, 166, 166);
    color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    animation: lastone 2s forwards 2s;
    opacity: 0%;
 }

.active, .dot:hover {
    background-color: #717171;
}

@keyframes lastone{
    from {opacity: 0%; transform:translateY(10);}
    to {opacity: 100%; transform:translateY(-10px);}
}