/* NAV BEGIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navwrap{
    z-index: 50;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.navbar{
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;

    display:flex;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    text-decoration: none;
    top: -1px;
    transition: top 0.3s;
}

.myname a, .navbar a:not(.skip){
    font-size: 18px;
    cursor: pointer;
    padding: 1%;
}

.navbar a:not(.myname){
    padding-left: 7%;
    padding-right: 7%;
    transition: background-color 0.3s ease-out;
}

.navbar a:hover:not(.myname,.skip){
    color: whitesmoke;
    background-color: black;
}

@media only screen and (min-width: 53px) and (max-width: 540px){
    .skip {
        display: none;
    }

    .navbar {
        height: 50px;
    }

    .navbar a:not(.myname){
        padding: 2%;
        padding-top: 3%;
    }

    .myname a, .navbar a:not(.skip){
        padding-top: 3%;
        padding-bottom: 2%;
        }
}
@media only screen and (min-width: 1440px) and (max-width: 5000px){
    .myname a, .navbar a:not(.skip){
        font-size: 20px;
    }
}

/* NAV END */

body{
    margin: 0px;
    user-select: none;
}

a{
    all: unset;
}

.project > h2{
    margin-top: 6%;
    animation: popUp 1.5s forwards;
    margin-bottom: 1%;
    opacity: 0%;
}

@keyframes popUp{
    from {}
    to {opacity: 100%;}
}

.case{
    display: flex;
    justify-content: space-evenly;
    padding-left: 8%;
    padding-right: 8%;
}

.show{
    user-select: none;
    margin-left: .5%;
    margin-right: .5%;

}

.show > img{
    width: 650px;
    margin-top: 2px;
    border-radius: 25px;
    border: solid black 2px;
    animation: slidein 1.5s forwards .2s;
    opacity: 0%;

    transition: .3s ease;
}

.evidence, .linkslide, .linkgit, .cgfslide, .cgfcode{
    position: relative;
    display: block;
}

.imageFrame{
    width: 250px;
    border-radius: 25px;
    border: solid black 2px;
    cursor: pointer;
    animation: slidein 1.5s forwards .2s;
    opacity: 0%;
    transition: .3s ease; 
}

.imageFrame:hover{
	filter: blur(1.5px) grayscale(100%);
}

.linkslide .text, .linkgit .text, .cgfslide .text, .cgfcode .text{    
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;

    opacity: 0%;
    transition: .5s ease; 
}
 
.cgfcode .text, .linkgit .text{
    padding: 1% 5%;
}

.linkslide:hover .text, .linkgit:hover .text, .cgfslide:hover .text, .cgfcode:hover .text{
    opacity: 100%;
}

.linkslide .text:hover{
    background-color: rgba(153, 218, 248, 0.795);
}
.linkgit .text:hover{
    background-color: rgba(17, 117, 167, 0.904);
}

.cgfslide .text:hover, .cgfcode .text:hover{
    background-color: mediumaquamarine;
}

.explain{
    margin: auto;
    margin-top: 1%;
}

.explain > h4{
    opacity: 0%;
    animation: slideUp 1.5s forwards .4s;
}

.explain > p{
    margin: 2%;
    margin-bottom: 0%;
    padding: 2%;
    border-radius: 25px;
    border: solid black 2px;
    opacity: 0%;
    animation: slideUp 2s forwards .6s;
}

@keyframes slidein {
    from {transform:translateX(-20px);}
    to {opacity: 100%;}
}

@keyframes slideUp{
    from {transform: translateY(20px);}
    to {opacity:100%;}
}


/* slide presentation */

/* acting as slide container */
.order{
    max-width: 1100px;
    position: relative;
    margin: auto;
}

/* acting as slides */
.project{
    text-align: center;
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px; 
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 10px;
    user-select: none;
}

.next{
    right:0;
    margin-right: 1%;
}

.prev{
    margin-left: 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color:  black;
    color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 2%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    animation: dots 2s forwards 1.2s;
    opacity: 0%;
 }

.active, .dot:hover {
    background-color: #717171;
}

@keyframes dots{
    from {transform:translateY(20px);}
    to {opacity: 100%;}
}

@media only screen and (min-width:1440px) and (max-width:5000px){
    .project > h2{
        margin-top: 4%;
    }
    .order{
        max-width: 1900px;
    }
    .show > img{
        width: 900px;
    }
    .imageFrame{
        width: 350px;
    }
    .explain{
        max-width: 1500px;
        font-size: 20px;
    }
}